<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body style="background-color:lightsteelblue;">
    <div style="text-align: center">
        <h1>Hello my name is {{ name }}</h1>
        <article>NPM : {{ npm }}</article>
        <article>I am {{ age }} years old</article>
        <article>Faculty : {{ faculty }}</article>
        <article>Major : {{ major }}</article>
        <article>Hobby : {{ hobby }}</article>
        <article>About me : {{ description }}</article>
    </div>
    <div style="text-align: center">
        <h3>This is Me</h3>
        <img src="http://www.about.tarung2017.com/foto/103.jpg" alt="myself" width="540" height="300"/>
    </div>
    <div style="text-align: center">
        <h2><br><br>This is my friend on my left side, Angelina Condro</h2>
        <article>NPM : 1706043342</article>
        <article>She is 18 years old</article>
        <article>Faculty : Computer Science</article>
        <article>Major : Information System</article>
        <article>Hobby : Singing</article>
        <article>About Angel : She is younger than me yet sometimes she is more mature than me</article>
    </div>
    <div style="text-align: center">
        <h3>This is Angel</h3>
        <img src="http://www.about.tarung2017.com/foto/904.jpg" alt="angel" width="540" height="300"/>
    </div>
    <div style="text-align: center">
        <h2><br><br>This is my friend on my right side, Bagus Pribadi</h2>
        <article>NPM : 1706043941</article>
        <article>He is 19 years old</article>
        <article>Faculty : Computer Science</article>
        <article>Major : Information System</article>
        <article>Hobby : Coding</article>
        <article>About Bagus : He is so kind to all of his friends but sometimes he can be annoying too</article>
    </div>
    <div style="text-align: center">
        <h3>This is Bagus</h3>
        <img src="http://www.about.tarung2017.com/foto/604.jpg" alt="bagus" width="540" height="300"/>
    </div>
</body>
</html>
